body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color:green;
  background-color:lightskyblue;
} 

P
{
  color: rgb(12, 102, 34);
  background-color: lightskyblue;
}
